*{
    font-family: "Comfortaa", "Arial", sans-serif;
    line-height: 1.6;
    margin: 0;  
    padding: 0;
  }
  :root {
    --color--tema--primario: #008FFD;
    --color--tema--primario-accent: #CBE8FF;
    --c-bg-primary: #D6DAE0;
    --c-bg-secondary: #EAEBEC;
    --c-bg-tertiary: #FDFDFD;
    --c-text-primary: #1F1F25;
    --c-text-secondary: #999FA6;
    --color--tema-terciario:#74090565;
  }
  